DATABASE_URL="postgresql://postgres:postgres@localhost:5432/test?schema=public"
SERVER_PORT=3333
JWT_SECRET="secret123"
RABBITMQ_URL="amqp://localhost:5672"
SEND_GRID_API_TOKEN=
SEND_GRID_SENDER=
NODE_ENV=development
BITCOIN_API_URL=https://www.mercadobitcoin.net
CACHE_HOST=localhost
CACHE_USERNAME=default
CACHE_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
CACHE_PORT=6379